<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<head th:replace="fragments/headTag :: headTag (title='Specialities')"></head>
<body>

<div th:include="fragments/bodyHeader (tab='specialities')" th:remove="tag"></div>

<div class="container">
    <div class="ui grid">
        <div class="nine wide column">
            <h1 class="ui header">Specialities</h1>
        </div>
        <div class="seven wide column">
            <a href="add" class="ui button green" style="float: right; margin-left: 1em;">Add Speciality</a>
        </div>
    </div>

    <table class="ui table segment" th:if="${not specialities.isEmpty()}">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="speciality: ${specialities}">
            <td> <a th:text="${speciality.name}" th:href="@{edit(id=${speciality.id})}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<div th:include="fragments/bodyFooter" th:remove="tag"></div>
</body>
</html>