<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en-US">
<body th:fragment="bodyFooter (tab)">
<br/>

<div class="ui divider"></div>
<div class="ui divided horizontal footer link list">
    <a href="https://github.com/ssouris/spring5-reactive-sample" class="item">Github</a>
    <div class="item">
        Written in <a href="https://github.com/JetBrains/kotlin" target="_blank">Kotlin</a>
    </div>
    <div class="item">
        Powered by <a href="http://semantic-ui.com/" target="_blank">Semantic UI</a>
    </div>
</div>

</body>
</html>
